<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <body>

    <%- include('partials/nav') %>

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas amet possimus facilis provident obcaecati! Autem magnam voluptatem ipsum ea quaerat necessitatibus ipsam, amet esse sint excepturi porro nisi expedita impedit.


    <%- include('partials/callJs') %>
  </body>
</html>
