<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <body>

    <%- include('partials/nav') %>

    <div class="container">

        <% articles.forEach(i => { %>
            <% if (i.approved) { %>
                <div class="container mb-2">
                    <h1>
                    <%= i.title %></span>
                    </h1>
                    <p><%= i.body %></p>
                </div>
            <% } %>
        <% }) %>

    </div>


    <%- include('partials/callJs') %>
  </body>
</html>
