<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <body>

    <%- include('partials/nav') %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


    <%- include('partials/callJs') %>
  </body>
</html>
